---
export interface Props {
	variants?: 'normal' | 'accent' | 'transparent';
	href?: string;
	size?: 'sm' | 'md';
	attr?: Record<string, string>;
	className?: string;
}

const { variants = 'normal', href = '#', size = 'md', attr, className = '' }: Props = Astro.props;

// Class base for button
const classBase = 'relative rounded-full flex items-center justify-center active:scale-95';

// Variants for button
const variantsButton = {
	normal: {
		class: 'bg-tertiary text-text-secondary hover:bg-white hover:text-primary transition-all ease-in-out duration-300',
	},
	accent: {
		class: 'bg-accent',
	},
	transparent: {
		class: 'bg-transparent text-text-secondary hover:bg-white hover:text-primary transition-all ease-in-out duration-300',
	},
};

// Sizes for button
const sizesObject = {
	sm: 'pl-4 pr-5 text-base py-[10px] gap-3',
	md: 'pl-5 pr-8 py-3 gap-4',
};

// Combine classes
const classFinal = `btn-especial ${sizesObject[size]} ${variantsButton[variants].class} ${className}`;
---

<a href={href} class={`${classBase}  ${classFinal}`} {...attr}>
	<slot />
</a>

<style is:global>

	.btn-especial svg {
		transition:
			transform 0.3s ease-in-out,
			color 0.3s ease-in-out;
	}

	.btn-especial:hover svg {
		transform: scale(1.5);
	}
</style>
